<div class="row">
    <div class="col-md-4" id="timer"></div>
    <div class="col-md-4">
        <button id="start_time_btn" type="button" onclick="issues.showStartTime()">Start</button>
        <button id="stop_time_btn" class="hidden" type="button" onclick="issues.stopTime()">Stop</button>
    </div>
</div>
<div id="timer"></div>
<h3>{{issue.subject}}</h3>
<div class="row">
    <label class="col-md-3 control-label">Status</label>
    <div class="col-md-3">{{issue.status.name}}</div>
    <label class="col-md-3 control-label">Assigned</label>
    <div class="col-md-3">{{issue.assigned_to.name}}</div>
</div>
<p>{{issue.description}}</p>
<script type="text/javascript">
issues.currentId = {{issue.id}};
</script>
