<div class="container-fluid">
    <div class="mt-3 mx-3 px-3">
        <h2>Projects</h2>
        <ul class="nav nav-tabs bg-white">
            <li class="nav-item float-left">
                <a class="nav-link active" href="#">All</a>
            </li>
            <li class="nav-item float-left">
                <a class="nav-link text-body" href="#" onclick="project.listFavourites()">Favourites</a>
            </li>
        </ul>

        <div class="list-group">
        {{#each projectList.projects}}
            <a class="list-group-item" onclick="project.show({{this.id}})">
                <h4 class="list-group-item-heading">{{this.name}}</h4>
                <p class="list-group-item-text">{{this.description}}</p>
            </a>
        {{/each}}
        </div>
        {{#ifCond projectList.total_count ">" projectList.limit}}
        <nav>
            <ul class="pagination justify-content-center mt-3">
                {{#ifCond projectList.offset "==" 0}}
                <li id="prev-project-link" class="page-item disabled">
                {{/ifCond}}
                {{#ifCond projectList.offset ">" 0}}
                <li id="prev-project-link" class="page-item">
                {{/ifCond}}
                    <a
                        class="page-link"
                        href="#"
                        tabindex="-1"
                        onclick="project.prevList({{projectList.limit}}, {{projectList.offset}})"
                    >Previous</a>
                </li>
                </li>
                <li class="page-item">
                <a class="page-link" href="#" onclick="project.nextList({{projectList.total_count}}, {{projectList.limit}}, {{projectList.offset}})">Next</a>
                </li>
            </ul>
        </nav>
        {{/ifCond}}
    </div>
</div>